body{
	background-image: url(https://img.elo7.com.br/product/original/17D177B/painel-fundo-madeira-2-5x2-5m-sublimados.jpg);
	background-attachment: fixed;
	width: 100%;
	margin:0;
	padding:0;
}
#fundo{
	background-color:rgb(78,49,31);
	margin-bottom:20px;
	border-bottom: 5px solid rgb(213,148,94);
}
img{
	width: 50%;
	height:200px;
	margin:0;
	padding-left:330px;
}
.pedi{
	border: 5px solid rgb(213,148,94);
	width:10%;
	background-color:rgb(78,49,31);
	color:#fff;
	text-align: center; 
	font-size: 2em;
}
#cardapio{
	
	color: black;
	width: 30%;
	margin-left: 35%; 
	font-family: 'Abril Fatface', cursive;
}
#adicionar{
	border-bottom: 5px solid rgb(213,148,94);
	border-left: 5px solid rgb(213,148,94);
	border-right: 5px solid rgb(213,148,94);
	background-color:#fff;
	opacity: 0.8;
	color: black;
	width: 30%;
	margin-left: 35%; 
	font-family: 'Abril Fatface', cursive;
}
th{
	border: 5px solid rgb(213,148,94);
    background-color:rgb(78,49,31);
    color:#fff;
    font-size: 1.2em;
    width: 20%;
}
h3 {
	border-bottom: 5px solid rgb(213,148,94);
	border-top: 5px solid rgb(213,148,94);
    background-color:rgb(78,49,31);
    color:#fff;
    font-size: 1.2em;
    width: 100%;
	text-align:center;
}
tr td{
	color:#000;
	border: 5px solid rgb(213,148,94);
}
tr{
	border: 5px solid rgb(213,148,94);
	background-color:#fff ;
	opacity: 0.8;
	color:#000;
}
label{
	
	margin-left: 100px;
	
}
#enviar{
	margin-left: 160px;
	margin-bottom: 20px;
}
#tot{
	border: 5px solid rgb(213,148,94);
}